@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.filters {
    height: 0;
    width: 0;
    position: absolute;
    z-index: -1;
}

.header-text {
    color: #c8c2bd;
    line-height: 1.0625;
    letter-spacing: -0.009em;
}

.glow-filter {
    position: relative;
    display: inline-block;
    scale: 1;
    animation: onloadscale 1s ease-out forwards;
}

.glow-filter::before {
    content: attr(data-text);
    position: absolute;
    pointer-events: none;
    color: #fffaf6;
    background: linear-gradient(0deg, #dfe5ee 0%, #fffaf6 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: inherit;
    opacity: 0;
    animation: onloadopacity 1s ease-out forwards;
}

@keyframes onloadscale {
    24% {
        scale: 1;
    }

    100% {
        scale: 1.02;
    }
}

@keyframes onloadopacity {
    24% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bg {
    width: 100%;
    height: 100%;
    max-width: 44em;
    max-height: 44em;
    position: absolute;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg>div {
    position: absolute;
    scale: 1.2;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow:
        inset 0 0 4em 3em rgba(238, 200, 175, 0.2),
        inset 0 0 2em 0.4em rgba(238, 200, 175, 0.2),
        0 0 0.1em 0.1em rgba(238, 200, 175, 0.2),
        0 0 1em 0.4em rgba(238, 200, 175, 0.3);
}

@keyframes onloadbgt {
    0% {
        translate: 0 -70%;
        opacity: 0.3;
    }

    100% {
        translate: 0 -64%;
        opacity: 0.8;
    }
}

@keyframes onloadbgb {
    0% {
        translate: 0 70%;
        opacity: 0.3;
    }

    100% {
        translate: 0 64%;
        opacity: 0.8;
    }
}

.animate-onloadbgt {
    animation: onloadbgt 1s ease-in-out forwards;
    translate: 0 -70%;
}

.animate-onloadbgb {
    animation: onloadbgb 1s ease-in-out forwards;
    translate: 0 70%;
}